

<style>

    footer {
      text-align: center;
      padding: 2rem;
      background: var(--bg-dark);
      color: var(--text-light);
    }
    footer a {
      color: var(--accent);
      text-decoration: none;
    }
    footer a:hover {
      text-decoration: underline;
    }
</style>


<footer>
  <p><small>
We reserve the right to collect and store submitted data in order to enhance our credential pattern recognition models and improve the underlying database. Data is processed in accordance with our <a href="https://altme.io/privacy">Privacy Policy</a>.
</small></p>
  <p>Contact us at <a href="mailto:contact@talao.io">contact@talao.io</a></p>
  <p>Follow us on <a href="https://www.linkedin.com/company/79104266">LinkedIn</a></p>
  <p><a href="https://altme.io/privacy">Privacy Policy</a> | <a href="https://altme.io/cgu">Terms</a></p>
</footer>